.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-header {
  z-index: 1000;
}

.main-content {
  flex-grow: 1;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.Toastify__toast-container {
  z-index: 1100 !important;
}

[data-sonner-toaster] {
  z-index: 1100 !important;
}